/**
* --------------------------------------------------------
*  MOBILE
* --------------------------------------------------------
**/

view#login-mobile {
    width: 100%;
    height: 100vh;
    padding: 1rem 2rem;
    font-size: .75rem;
}
view#login-mobile #login-form {
    width: 100%;
    top: -3rem;
    position: relative;
}

view#login-mobile h1 {
    font-size: 2.5rem;
    font-weight: 400;
    color: #6F6F6F;
    margin-bottom: 2rem;
}

view#login-mobile div#login-form button#login-button {
    width: 50%;
    height: 2.8rem;
    margin-top: 2rem;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    border-radius: .75rem;
    border: none;
}

view#login-mobile div#login-form button#login-button:focus {
    outline: none;
}

view#login-mobile div#login-form button#login-button:hover {
    background-color: var(--accent-color);
}   

view#login-mobile div#login-form a#forgot-password-link {
    font-size: .8rem;
    font-weight: 400;   
    color: #6F6F6F;
    margin-top: 1.2rem;
}

view#login-mobile div#login-form a#forgot-password-link:hover {
    color: var(--accent-color);
}

view#login-mobile a:focus {
    outline: none;
}

view#login-mobile a#new-user-link {
    font-size: .8rem;
    font-weight: 400;   
    color: #9570FF;
    position: absolute;
    bottom: 2rem;
}